/vendor
/node_modules
Homestead.yaml
start_server.bat
TODO.txt
Proposition.txt
#.env   <<<<< a remettre plus tard, je l'ai enlevé juste pour que ca soit moins compliqué pour le étudiants. 
.settings/org.eclipse.core.resources.prefs
*~
composer.lock