/vendor
/node_modules
Homestead.yaml
start_server.bat
TODO.txt
.idea
Proposition.txt
.env # << copiez .env_GES2016 pour vous créer votre .env
composer.lock
.settings/org.eclipse.core.resources.prefs
.settings
_ide_helper.php
.phpstorm.meta.php
