.boutonTableEpreuve-center {
  min-height:200px;
  display: flex;
  justify-content:center;
  flex-flow: column wrap;
}

.tableTelephoneCourrielArbitre th, .dataTelephone, .dataDescTelephone,
.dataCourriel, .dataDescCourriel{
	padding:5px;
	border: 1px solid black;
	text-align:center;
	min-width:200px
}

.imageRetirer{
	padding:5px;
	border: 1px solid black;
	text-align:center;
}

.tableTelephoneCourrielArbitre{
	margin-top: 10px;
}