/*******************************************************************************
Fichier: master.css
Description: Feuille de style maître pour le CRUD des conditions particulières.
Créé le: 161128
Modifié le: 161128
Par: Res260
*******************************************************************************/

.no-padding {
	padding:0;
}

#conteneur-contenu {
	padding-top: 10px;
	padding-bottom: 10px;
}
